@import '~@angular/material/theming';
@include mat-core();

@import '~@angular/cdk/text-field/text-field';
@include cdk-a11y();

$client-primary: mat-palette($mat-blue);
$client-accent: mat-palette($mat-pink, A200, A100, A400);

$client-warn: mat-palette($mat-red);


$client-theme: mat-light-theme((
  color: (
    primary: $client-primary,
    accent: $client-accent,
    warn: $client-warn,
  )
));

@include angular-material-theme($client-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
